<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.gene.iPhoneProjectTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for any application. It provides just an application delegate and a window.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>ARCHS</key>
			<string>armv7</string>
			<key>GCC_VERSION</key>
			<string>com.apple.compilers.llvmgcc42</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
					<key>OTHER_LDFLAGS[sdk=iphoneos*][arch=*]</key>
					<string>-lxml2 -ObjcC -all_load</string>
					<key>OTHER_LDFLAGS[sdk=iphonesimulator*][arch=*]</key>
					<string>-lxml2 -ObjcC -all_load</string>
				</dict>
				<key>Distribution</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
					<key>OTHER_LDFLAGS[sdk=iphoneos*][arch=*]</key>
					<string>-lxml2 -ObjcC -all_load</string>
					<key>OTHER_LDFLAGS[sdk=iphonesimulator*][arch=*]</key>
					<string>-lxml2 -ObjcC -all_load</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
					<key>OTHER_LDFLAGS[sdk=iphoneos*][arch=*]</key>
					<string>-lxml2 -ObjcC -all_load</string>
					<key>OTHER_LDFLAGS[sdk=iphonesimulator*][arch=*]</key>
					<string>-lxml2 -ObjcC -all_load</string>
				</dict>
			</dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
				<string>QuartzCore</string>
				<string>MessageUI</string>
				<string>Security</string>
				<string>SystemConfiguration</string>
				<string>CoreData</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PROJECTNAMEASIDENTIFIER____Prefix.pch</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/___PROJECTNAMEASIDENTIFIER___-Info.plist</string>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>$(BUILT_PRODUCTS_DIR)/usr/local/include</string>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PROJECTNAMEASIDENTIFIER___-Info.plist</string>
		<string>___PROJECTNAMEASIDENTIFIER____Prefix.pch</string>
		<string>Entitlements.plist</string>
		<string>main.m</string>
		<string>how_to_use_genentech_iphone_framework.txt</string>
		<string>readme.txt</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		<string>Classes/RootViewController.h</string>
		<string>Classes/RootViewController.m</string>
		<string>Dependencies/AboutCell.h</string>
		<string>Dependencies/AboutViewController.h</string>
		<string>Dependencies/ADMS_Measurement.h</string>
		<string>Dependencies/AppStatus.h</string>
		<string>Dependencies/AsyncRequestSender.h</string>
		<string>Dependencies/ConfigurationUtil.h</string>
		<string>Dependencies/CXMLDocument.h</string>
		<string>Dependencies/CXMLDocument_CreationExtensions.h</string>
		<string>Dependencies/CXMLDocument_PrivateExtensions.h</string>
		<string>Dependencies/CXMLElement.h</string>
		<string>Dependencies/CXMLElement_CreationExtensions.h</string>
		<string>Dependencies/CXMLElement_ElementTreeExtensions.h</string>
		<string>Dependencies/CXMLNode.h</string>
		<string>Dependencies/CXMLNode_CreationExtensions.h</string>
		<string>Dependencies/CXMLNode_PrivateExtensions.h</string>
		<string>Dependencies/CXMLNode_XPathExtensions.h</string>
		<string>Dependencies/DataUtils.h</string>
		<string>Dependencies/EmailUtils.h</string>
		<string>Dependencies/FileUtils.h</string>
		<string>Dependencies/GeneApp_Common.h</string>
		<string>Dependencies/GeneFrameworkVersion.h</string>
		<string>Dependencies/GeneReachability.h</string>
		<string>Dependencies/GneJSONDataRequestHandler.h</string>
		<string>Dependencies/iPhoneCommonLibrary_Prefix.pch</string>
		<string>Dependencies/KeychainUserData.h</string>
		<string>Dependencies/KeychainUtils.h</string>
		<string>Dependencies/KeyValuePair.h</string>
		<string>Dependencies/LaunchViewProtocol.h</string>
		<string>Dependencies/LoggingUtils.h</string>
                <string>Dependencies/LoginManager.h</string>
		<string>Dependencies/LogInViewController.h</string>
		<string>Dependencies/LoginViewProtocol.h</string>
		<string>Dependencies/LaunchViewProtocol.h</string>
		<string>Dependencies/MessageView.h</string>
		<string>Dependencies/MobileAppDelegate.h</string>
		<string>Dependencies/MobileLaunchViewController.h</string>
		<string>Dependencies/NSArray+GenenUtil.h</string>
		<string>Dependencies/NSBundle+Orientation.h</string>
		<string>Dependencies/NSData+GenenUtil.h</string>
		<string>Dependencies/NSDictionary+GenenUtil.h</string>
		<string>Dependencies/NSDictionary+JSON.h</string>
		<string>Dependencies/NSError+GenenUtil.h</string>
		<string>Dependencies/NSMutableDictionary+GenenUtil.h</string>
		<string>Dependencies/NSNumber+GenenUtil.h</string>
		<string>Dependencies/NSObject+YAJL.h</string>
		<string>Dependencies/NSString+GenenUtil.h</string>
		<string>Dependencies/NSString+JSON.h</string>
		<string>Dependencies/NSTimerFactory.h</string>
		<string>Dependencies/NSURLRequest+Extensions.h</string>
		<string>Dependencies/PhoneUtils.h</string>
		<string>Dependencies/Reachability.h</string>
		<string>Dependencies/SalesForceSSOLogin.h</string>
		<string>Dependencies/SecurityUtil.h</string>
		<string>Dependencies/SFHFKeychainUtils.h</string>
		<string>Dependencies/TextFieldCell.h</string>
		<string>Dependencies/TouchXML.h</string>
		<string>Dependencies/UIColor-Expanded.h</string>
		<string>Dependencies/UIUtils.h</string>
		<string>Dependencies/UncaughtExceptionHandler.h</string>
		<string>Dependencies/UncaughtExceptionHandlerDelegate.h</string>
		<string>Dependencies/UsageTracking.h</string>
		<string>Dependencies/yajl_common.h</string>
		<string>Dependencies/yajl_gen.h</string>
		<string>Dependencies/yajl_parse.h</string>
		<string>Dependencies/YAJL.h</string>
		<string>Dependencies/YAJLDocument.h</string>
		<string>Dependencies/YAJLGen.h</string>
		<string>Dependencies/YAJLParser.h</string>
		<string>Dependencies/admsAppLibrary.a</string>
		<string>Dependencies/libYAJLIPhone.a</string>
		<string>Dependencies/libiPhoneCommonLibrary-2.2.a</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Dependencies/UncaughtExceptionHandler.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/UncaughtExceptionHandler.h</string>
		</dict>
		<key>Dependencies/SalesForceSSOLogin.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/SalesForceSSOLogin.h</string>
		</dict>
		<key>Dependencies/Reachability.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/Reachability.h</string>
		</dict>
		<key>Dependencies/iPhoneCommonLibrary_Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/iPhoneCommonLibrary_Prefix.pch</string>
		</dict>
		<key>Dependencies/ADMS_Measurement.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/ADMS_Measurement.h</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___-Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___-Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER____Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER____Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Entitlements.plist</key>
		<dict>
			<key>Path</key>
			<string>Entitlements.plist</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>how_to_use_genentech_iphone_framework.txt</key>
		<dict>
			<key>Path</key>
			<string>how_to_use_genentech_iphone_framework.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>readme.txt</key>
		<dict>
			<key>Path</key>
			<string>readme.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		</dict>
		<key>Classes/RootViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/RootViewController.h</string>
		</dict>
		<key>Classes/RootViewController.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/RootViewController.m</string>
		</dict>
		<key>Dependencies/AboutCell.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/AboutCell.h</string>
		</dict>
		<key>Dependencies/AboutViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/AboutViewController.h</string>
		</dict>
		<key>Dependencies/AppStatus.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/AppStatus.h</string>
		</dict>
		<key>Dependencies/AsyncRequestSender.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/AsyncRequestSender.h</string>
		</dict>
		<key>Dependencies/CXMLDocument.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLDocument.h</string>
		</dict>
		<key>Dependencies/CXMLDocument_CreationExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLDocument_CreationExtensions.h</string>
		</dict>
		<key>Dependencies/CXMLDocument_PrivateExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLDocument_PrivateExtensions.h</string>
		</dict>
		<key>Dependencies/CXMLElement.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLElement.h</string>
		</dict>
		<key>Dependencies/CXMLElement_CreationExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLElement_CreationExtensions.h</string>
		</dict>
		<key>Dependencies/CXMLElement_ElementTreeExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLElement_ElementTreeExtensions.h</string>
		</dict>
		<key>Dependencies/CXMLNode.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLNode.h</string>
		</dict>
		<key>Dependencies/CXMLNode_CreationExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLNode_CreationExtensions.h</string>
		</dict>
		<key>Dependencies/CXMLNode_PrivateExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLNode_PrivateExtensions.h</string>
		</dict>
		<key>Dependencies/CXMLNode_XPathExtensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/CXMLNode_XPathExtensions.h</string>
		</dict>
		<key>Dependencies/ConfigurationUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/ConfigurationUtil.h</string>
		</dict>
		<key>Dependencies/DataUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/DataUtils.h</string>
		</dict>
		<key>Dependencies/EmailUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/EmailUtils.h</string>
		</dict>
		<key>Dependencies/FileUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/FileUtils.h</string>
		</dict>
		<key>Dependencies/GeneApp_Common.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/GeneApp_Common.h</string>
		</dict>
		<key>Dependencies/GeneFrameworkVersion.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/GeneFrameworkVersion.h</string>
		</dict>
		<key>Dependencies/GeneReachability.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/GeneReachability.h</string>
		</dict>
		<key>Dependencies/GneJSONDataRequestHandler.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/GneJSONDataRequestHandler.h</string>
		</dict>
		<key>Dependencies/KeychainUserData.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/KeychainUserData.h</string>
		</dict>
		<key>Dependencies/KeychainUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/KeychainUtils.h</string>
		</dict>
		<key>Dependencies/KeyValuePair.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/KeyValuePair.h</string>
		</dict>
		<key>Dependencies/LaunchViewProtocol.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/LaunchViewProtocol.h</string>
		</dict>
		<key>Dependencies/LaunchViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/LaunchViewController.h</string>
		</dict>
		<key>Dependencies/LogInViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/LogInViewController.h</string>
		</dict>
		<key>Dependencies/LoginViewProtocol.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/LoginViewProtocol.h</string>
		</dict>
		<key>Dependencies/LoggingUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/LoggingUtils.h</string>
		</dict>
                <key>Dependencies/LoginManager.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/LoginManager.h</string>
		</dict>
		<key>Dependencies/MessageView.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/MessageView.h</string>
		</dict>
		<key>Dependencies/MobileAppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/MobileAppDelegate.h</string>
		</dict>
		<key>Dependencies/MobileLaunchViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/MobileLaunchViewController.h</string>
		</dict>
		<key>Dependencies/NSArray+GenenUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSArray+GenenUtil.h</string>
		</dict>
		<key>Dependencies/NSBundle+Orientation.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSBundle+Orientation.h</string>
		</dict>
		<key>Dependencies/NSData+GenenUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSData+GenenUtil.h</string>
		</dict>
		<key>Dependencies/NSDictionary+GenenUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSDictionary+GenenUtil.h</string>
		</dict>
		<key>Dependencies/NSDictionary+JSON.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSDictionary+JSON.h</string>
		</dict>
		<key>Dependencies/NSError+GenenUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSError+GenenUtil.h</string>
		</dict>
		<key>Dependencies/NSMutableDictionary+GenenUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSMutableDictionary+GenenUtil.h</string>
		</dict>
		<key>Dependencies/NSNumber+GenenUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSNumber+GenenUtil.h</string>
		</dict>
		<key>Dependencies/NSObject+YAJL.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSObject+YAJL.h</string>
		</dict>
		<key>Dependencies/NSString+GenenUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSString+GenenUtil.h</string>
		</dict>
		<key>Dependencies/NSString+JSON.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSString+JSON.h</string>
		</dict>
		<key>Dependencies/NSTimerFactory.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSTimerFactory.h</string>
		</dict>
		<key>Dependencies/NSURLRequest+Extensions.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/NSURLRequest+Extensions.h</string>
		</dict>
		<key>Dependencies/PhoneUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/PhoneUtils.h</string>
		</dict>
		<key>Dependencies/SFHFKeychainUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/SFHFKeychainUtils.h</string>
		</dict>
		<key>Dependencies/SecurityUtil.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/SecurityUtil.h</string>
		</dict>
		<key>Dependencies/TextFieldCell.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/TextFieldCell.h</string>
		</dict>
		<key>Dependencies/TouchXML.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/TouchXML.h</string>
		</dict>
		<key>Dependencies/UIColor-Expanded.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/UIColor-Expanded.h</string>
		</dict>
		<key>Dependencies/UIUtils.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/UIUtils.h</string>
		</dict>
		<key>Dependencies/UncaughtExceptionHandlerDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/UncaughtExceptionHandlerDelegate.h</string>
		</dict>
		<key>Dependencies/UsageTracking.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/UsageTracking.h</string>
		</dict>
		<key>Dependencies/YAJL.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/YAJL.h</string>
		</dict>
		<key>Dependencies/YAJLDocument.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/YAJLDocument.h</string>
		</dict>
		<key>Dependencies/YAJLGen.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/YAJLGen.h</string>
		</dict>
		<key>Dependencies/YAJLParser.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/YAJLParser.h</string>
		</dict>
		<key>Dependencies/admsAppLibrary.a</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/admsAppLibrary.a</string>
		</dict>
		<key>Dependencies/libYAJLIPhone.a</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/libYAJLIPhone.a</string>
		</dict>
		<key>Dependencies/libiPhoneCommonLibrary-2.2.a</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/libiPhoneCommonLibrary-2.2.a</string>
		</dict>
		<key>Dependencies/yajl_common.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/yajl_common.h</string>
		</dict>
		<key>Dependencies/yajl_gen.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/yajl_gen.h</string>
		</dict>
		<key>Dependencies/yajl_parse.h</key>
		<dict>
			<key>Group</key>
			<string>Dependencies</string>
			<key>Path</key>
			<string>Dependencies/yajl_parse.h</string>
		</dict>
	</dict>
</dict>
</plist>
